name: 2 Emerge Other

on:
  workflow_dispatch:
    inputs:
      force_rebuild:
        description: 'Force a rebuild of the layer (ignore existing)'
        required: false
        type: boolean
        default: false
      update:
        description: 'Update packages (skip if no changes)'
        required: false
        type: boolean
        default: true
#  schedule:
#    - cron: 45 13 */2 * *

env:
  BUNNY_STORAGE_ACCESS_KEY: ${{ secrets.BUNNY_STORAGE_ACCESS_KEY }}
  BUNNY_STORAGE_CDN: ${{ secrets.BUNNY_STORAGE_CDN }}
  BUNNY_STORAGE_ENDPOINT: ${{ secrets.BUNNY_STORAGE_ENDPOINT }}
  BUNNY_STORAGE_ENDPOINT_CDN: ${{ secrets.BUNNY_STORAGE_ENDPOINT_CDN }}
  BUNNY_STORAGE_ZONE_NAME: ${{ secrets.BUNNY_STORAGE_ZONE_NAME }}
  CONFIG_PREFIX: 2

jobs:
  emerge:
    name: Emerge
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Display Runner Info
        run: bash ./runnerinfo.sh

      - name: Set Up Gentoo
        run: |
          ARGS=("-File" "./PullPushImage.ps1" "-From" "-Overlay" "-LayerName" "other")
          if [ "${{ github.event.inputs.force_rebuild }}" == "true" ]; then
            ARGS+=("-ForceRebuild")
          fi
          sudo --preserve-env pwsh "${ARGS[@]}"

      - name: Set Up Binary Packages
        run: sudo --preserve-env pwsh -File ./PushPullBinaryPackages.ps1 -From

      - name: Mount Filesystems
        run: sudo --preserve-env pwsh -File ./MountFilesystems.ps1

      - name: Emerge
        run: |
          UPDATE_FLAG=""
          if [ "${{ github.event.inputs.update }}" = "true" ]; then
            UPDATE_FLAG="--update"
          fi
          sudo --preserve-env chroot /mnt/gentoo bash /mnt/emerge.sh --packages "$(cat ./2-emerge-other.list | tr '\n' ' ')" $UPDATE_FLAG

      - name: Unmount Filesystems
        if: always()
        run: sudo --preserve-env pwsh -File ./MountFilesystems.ps1 -Unmount

      - name: Upload Gentoo Binary Packages
        if: always()
        run: sudo --preserve-env pwsh -File ./PushPullBinaryPackages.ps1 -To

      - name: Upload Gentoo Layer
        if: always()
        run: sudo --preserve-env pwsh -File ./PullPushImage.ps1 -To -Overlay -LayerName "other"
