name: 2 Emerge Other

on:
  workflow_dispatch:
#  schedule:
#    - cron: 45 13 */2 * *

env:
  BUNNY_STORAGE_ACCESS_KEY: ${{ secrets.BUNNY_STORAGE_ACCESS_KEY }}
  BUNNY_STORAGE_CDN: ${{ secrets.BUNNY_STORAGE_CDN }}
  BUNNY_STORAGE_ENDPOINT: ${{ secrets.BUNNY_STORAGE_ENDPOINT }}
  BUNNY_STORAGE_ENDPOINT_CDN: ${{ secrets.BUNNY_STORAGE_ENDPOINT_CDN }}
  BUNNY_STORAGE_ZONE_NAME: ${{ secrets.BUNNY_STORAGE_ZONE_NAME }}
  CONFIG_PREFIX: 2
  POWERSHELL_7_ARCHITECTURE: x64
  PACKAGES: app-admin/sudo app-arch/7zip app-arch/unzip app-editors/antigravity app-emulation/ruffle app-shells/bash-completion app-shells/pwsh dev-libs/mimalloc dev-util/android-tools dev-util/github-cli gui-apps/waypipe media-fonts/fonts-meta media-gfx/darktable media-gfx/gimp media-gfx/inkscape media-libs/libva-intel-media-driver media-libs/libva-intel-driver media-sound/helvum media-video/shotcut media-video/vlc net-analyzer/netcat net-analyzer/nmap net-misc/aria2 net-misc/moonlight net-misc/mosh net-misc/remmina net-print/cups-meta net-vpn/wireguard-tools net-p2p/qbittorrent net-print/cups-filters net-print/gutenprint sys-apps/flatpak sys-apps/zram-generator sys-firmware/intel-microcode sys-firmware/sof-firmware sys-fs/exfatprogs sys-fs/f2fs-tools sys-fs/fuse:0 sys-block/io-scheduler-udev-rules sys-boot/plymouth sys-kernel/installkernel sys-kernel/linux-firmware www-client/firefox-bin www-client/google-chrome www-client/microsoft-edge www-client/mullvad-browser-bin

jobs:
  emerge:
    name: Emerge
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - name: Display Runner Info
        run: bash ./runnerinfo.sh

      - name: Install PowerShell
        run: sudo --preserve-env bash ./install-powershell.sh

      - name: Set Up Gentoo
        run: sudo --preserve-env pwsh -File ./Start-CopyImage.ps1 -From

      - name: Set Up Binary Packages
        run: sudo --preserve-env pwsh -File ./Start-CopyBinaryPackages.ps1 -From

      - name: Mount Filesystems
        run: sudo --preserve-env pwsh -File ./Start-MountFilesystems.ps1

      - name: Emerge
        run: sudo --preserve-env chroot /mnt/gentoo bash /mnt/emerge.sh --packages "$PACKAGES"

      - name: Unmount Filesystems
        if: always()
        run: sudo --preserve-env pwsh -File ./Start-MountFilesystems.ps1 -Unmount

      - name: Upload Gentoo Binary Packages
        if: always()
        run: sudo --preserve-env pwsh -File ./Start-CopyBinaryPackages.ps1 -To

      - name: Upload Gentoo
        if: failure()
        run: sudo --preserve-env pwsh -File ./Start-CopyImage.ps1 -To -Temporary
